.btn {
    color: white;
    background-color: #ffa41b;
    border: none;
    margin-left: 10px;
    margin-right: 10px;
}

.btn:hover {
    background-color: #00a8cc;
}

.projectCol {
    padding-top: 15px;
    padding-bottom: 15px;
}
