#title {
    font-family: 'Alata', sans-serif;
}

.navItem {
    /* width: 33.33%; */
    font-family: 'Alata', sans-serif;
}

#spacer {
    padding: 15px;
    margin: 0;
    background-color: #005082;
}

h3 {
    font-size: large;
}
